doctype html
html
  head
    title Error
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    h1 Uh Oh! Status: #{error.status || 500}
    p #{error.message || 'Something went wrong.'}
    a.button(href="/") Home

